body {
    /* background: url(images/library.png), rgba(70, 218, 191, 0.7);
    background-repeat:no-repeat;*/
    margin: 0;
    background-color: rgb(70, 218, 191, 0.7);
    background-image: url(images/library.png);
}

