body {
    margin: 0;
    background-color: rgb(70, 218, 191, 0.7);
    /* background-image: url(images/library.png); */
}

main {

}

nav {
    border: 2px red solid;
}

#logo {
    border: 2px green solid;
}

section{
    border: 2px blueviolet solid;

}

footer {
    border: 2px orange solid;

}

.social-media-logos{
    width: 3em;
}