*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    color: #4E4D4D;
    font-family: 'Arial Rounded MT Bold';
}

.back-color {
    background-color: rgb(70, 218, 191, 0.7);
}

/****** Navigation Bar/Menu and Footer for all pages ******/
.menu-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    opacity: 0.9;
    padding:10px 0;
}

nav a {
    text-decoration: none;
    color: #4E4D4D;
    font-size: 8px;
}
.nav-link {
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px;
}

#logo {
    border: 2px green solid;
    /* width: 10em; */
    border-radius: 30px;
    border: 4px solid #46DABF;
    margin: 10em 3em -7em 1em;
}

footer {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 5rem; */
}

.social-media-logos{
    /* width: 2.5em; */
    /* height: 2.5em; */
    padding: .3em;
}

.sections {
    width: 90%;
    margin: 0 auto;

}

.card {
    background-color: rgba(224, 224, 224, 0.75) ;
    position: relative;
    border-radius: 30px;
}

/* Media Queries*/





/****** Homepage CSS ******/

.back-img-1 {
    /* width:100%; */
    height: 100%;
    background-position: center;
    background-size: contain;
    background-image: url("images/library.png");
    
}

/* section {
    background: rgba(224, 224, 224, 0.75); 
    width: 90%;
    height: 800px;
    margin: 50px;
    padding: 20px;
    border-radius: 30px;
} */

.intro {
    text-align: center;
    padding: 20px;
}

.intro p {
    padding: 4px auto;
}

.intro img {
    border-radius: 30px;
    border: 4px solid #46DABF;
    width: 60%;
}

.info {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

li {
    list-style: none;
}

#info{
    text-align: center;
}

.hours, .address {
    border: 2px slateblue solid;
}
/* 
#donate {
    position: absolute;
    width: 900px;
    height: 144px;
    left: 272px;
    top: 1500px;
    line-height: 30px;
    text-align: center;
} */

.events h2, .events p {
    text-align: center;
    
}

.event-types{
    display: flex;
    justify-content: center;
    height: 300px;
}

.child, .adult {
    border: 2px palevioletred solid;
    height: 80%;
}

.child img, .adult img {
    height: 100%;
}

.child div, .adult div{
    display: flex;
}

.child div button, .adult div button {
    margin:10px auto;
}

/******* About Page  *****/

.back-img-2 {
    width:100%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-image: url("images/books-plant.png");
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    text-align: center;
}

/******* Catalog Page *****/





/******* Create Profile Page *****/

.back-img-3 {
    background-image: url("images/SignIn-Background.png");
    width:100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    text-align: center;
}



/******* My Account PAge  *****/




/******* Sign-In Page  *****/




/******* About Page  *****/
/******* About Page  *****/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav a {
        font-size: 14px;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */