body {
    margin: 0;
    background-color: rgb(70, 218, 191, 0.7);
    /* background-image: url(images/library.png); */
}

main {

}

nav {
    border: 2px red solid;
    display: flex;
}

#logo {
    border: 2px green solid;
    width: 10em;
}

section{
    border: 2px blueviolet solid;
    background-color: #F5F5F5;
    display: flex;

}

.events {
    display: flex;
}

footer {
    border: 2px orange solid;
    display: flex;
    flex-direction: row;

}

.social-media-logos{
    width: 2.5em;
    padding: .3em;
}