body {
    margin: 0;
    background: rgb(70, 218, 191, 0.7);
    /* background-image: url(images/library.png); */
}

main {
    background-image: url(images/library.png);
    opacity: .2;
}

nav {
    border: 2px yellow solid;
}

.menu-options{
    display: flex;
    justify-content: space-around;
}

#logo {
    border: 2px green solid;
    width: 10em;
}

section{
    border: 2px blueviolet solid;
    background: rgba(224, 224, 224, 0.75); 
    width: 100%;
    margin: 20px;
    padding: 20px;

}

.info {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.events {
    display: flex;
}

footer {
    border: 2px orange solid;
    display: flex;
    flex-direction: row;

}

.social-media-logos{
    width: 2.5em;
    padding: .3em;
}