*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background:rgba(70,218,191,0.7);
    position: relative;
    width: 1440px;
    height: 1048px;
}

.back-img-3{
    background: url("images/SignIn-Background.png");

}