*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* body {
    background-color:rgba(70,218,191,0.7);
    background-image: url("images/SignIn-Background.png");

} */

.back-color{
    background:rgba(70,218,191,0.7);
    position: relative;
    /* width: 100%;
    height: 100%; */
    background-size: contain;
}

.back-img-3{
    background: url("images/SignIn-Background.png");
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;

}