*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color:rgba(70,218,191,0.7);
    background-image: url("images/SignIn-Background.png");

} */

.back-color{
    background:rgba(70,218,191,0.7);
    position: relative; 
    top: -512px;
    left: 2240px;
    width: 1440px;
    height: 1048px;
    /* background-size: contain; */
} 

.back-img-3{
    background: url("images/SignIn-Background.png");
    position: relative;
    top: -512px;
    left: 2240px;
    width: 1440px;
    height: 1048px;
    background-size: contain;

}